<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <span>LostApp</span>
   <span class="example-spacer"></span>
   <button mat-button [matMenuTriggerFor]="menu">
    <div style="display: flex;">
      <h2 style="margin-right: 10px;">{{username}}</h2>
     <!-- <img [src]="userImg" width="30" style="border-radius: 100%" />-->
    </div>

  </button>
   <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">Cerrar sesión</button>
  </mat-menu>
 </mat-toolbar>
