.caja{

    
    width: 30%;
    height: 60%;
    position: relative;
    right: -60px;
    top: 80px;
    padding: 50px;
    
}

.caja-principal{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    align-items: center;
    
}

.caja-secundaria{

    
    width: 30%;
    height: 60%;
    position: relative;
    right: -60px;
    top: 80px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.card-object{
    
    margin: 60px;
}


.caja-secundaria button{
    margin: 10px;
}

.caja-principal button{
    margin: 20px;
    padding: 30px;
    width: 50%;
}